@charset "UTF-8";
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR IMPORTS
 *------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR IMPORTS
 *------------------------------------------------------------------------------------------------⁡**/
@import url(body.css);
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR VARIABLES
 *------------------------------------------------------------------------------------------------⁡**/
/*               ANCHOR COLORS
/*=============================================*/
/*=============================================*
 *               ANCHOR TEXT / FONT
 *=============================================**/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@font-face {
	font-family: "Party Confetti";
	src: url(/root/fonts/Party-Confetti.otf);
}

/*=============================================*
 *               ANCHOR BORDERS
 *=============================================**/
/*=============================================*
 *               ANCHOR Box-shadow
 *=============================================**/
/*=============================================*
 *               ANCHOR TRANSITIONS
 *=============================================**/
/*=============================================*
 *               ANCHOR PADDING / MARGIN / MEASUREMENTS
 *=============================================**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR FUNCTIONS
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR UNIVERSAL
*------------------------------------------------------------------------------------------------⁡**/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: 0;
	border: none;
	font-style: none;
}

body {
	font-family: 'Poppins', 'Sofia Pro', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 0;
}

::-webkit-scrollbar-track:focus,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar:focus,
::-webkit-scrollbar:active {
	background-color: rgba(0, 0, 0, 0.2);
	width: .5em;
}

/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MEDIA QUERIES
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR SUPPORT
*------------------------------------------------------------------------------------------------⁡⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR VARIABLES
 *------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR OTHER FUNCTIONS
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MEDIA QUERIES
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣⁡⁢⁣⁣⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR SUPPORT
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MAIN STYLING
*------------------------------------------------------------------------------------------------⁡**/
body {
	font-family: 'Poppins', 'Sofia Pro', 'Arial', 'Helvetica', sans-serif;
	background-color: #f4b9bb;
	display: grid;
	background-image: url("/root/img/bg/main-page-bg.png");
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	overflow-y: scroll;
	grid-template-rows: 5rem auto 10rem;
	overscroll-behavior-y: none;
	min-height: 100vh;
}

body header {
	grid-row: 1;
}

body footer {
	grid-row: 3;
}

body #main__grid {
	grid-row: 2;
	display: grid;
	grid-template-columns: minmax(1rem, 1fr) repeat(12, minmax(0, 75rem)) minmax(1rem, 1fr);
	transition: opacity 850ms cubic-bezier(0.68, -0.55, 0.27, 1.55), filter 850ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body #main__grid * {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
}

body #main__grid * * {
	grid-column: 2 / -2;
}

#success-banner {
	background-color: rgba(246, 228, 218, 0.95);
	display: grid;
	grid-template-rows: 1fr 1fr;
	padding: 7.5vw;
	margin: 2.5vw 4vw;
	border-radius: 2vw;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	align-items: center;
	color: #222030;
	row-gap: max(1rem, 2vw);
	max-height: 100vh;
}

@supports (backdrop-filter: blur()) {
	#success-banner {
		background-color: rgba(246, 228, 218, 0.45);
		backdrop-filter: blur(45px);
	}
}

#success-banner #success-banner__header {
	grid-row: 1;
	font-size: max(2.5rem, 5.5vw);
	border-bottom: 1px solid;
}

#success-banner #success-banner__text {
	grid-row: 2;
	font-size: max(1.25rem, 2vw);
	font-weight: 100;
	color: rgba(34, 32, 48, 0.4);
}

#success-banner #success-banner__back-btn {
	font-size: 2.35vw;
	font-weight: 200;
	align-self: center;
	padding: 1vw 8vw;
	width: fit-content;
	color: rgba(34, 32, 48, 0.7);
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 1vw;
	max-width: 80vw;
	font-family: 'Party Confetti', 'Poppins', Arial, Helvetica, sans-serif;
	letter-spacing: 0.2vw;
	transition: 450ms letter-spacing cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#success-banner #success-banner__back-btn:hover,
#success-banner #success-banner__back-btn:focus {
	cursor: back;
	letter-spacing: 0.4vw;
	background-color: rgba(64, 64, 64, 0.1);
}

/*# sourceMappingURL=body.css.map */
