@charset "UTF-8";
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR IMPORTS
 *------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR IMPORTS
 *------------------------------------------------------------------------------------------------⁡**/
@import url(./body.css);
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR VARIABLES
 *------------------------------------------------------------------------------------------------⁡**/
/*               ANCHOR COLORS
/*=============================================*/
/*=============================================*
 *               ANCHOR TEXT / FONT
 *=============================================**/
@import url("https://fonts.googleapis.com/css2?family=Poppins");

@font-face {
	font-family: "Party Confetti";
	src: url(./Party-Confetti.otf);
}

/*=============================================*
 *               ANCHOR BORDERS
 *=============================================**/
/*=============================================*
 *               ANCHOR Box-shadow
 *=============================================**/
/*=============================================*
 *               ANCHOR TRANSITIONS
 *=============================================**/
/*=============================================*
 *               ANCHOR PADDING / MARGIN / MEASUREMENTS
 *=============================================**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR FUNCTIONS
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR UNIVERSAL
*------------------------------------------------------------------------------------------------⁡**/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: 0;
	border: none;
	font-style: none;
}

body {
	font-family: 'Poppins', 'Sofia Pro', 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0);
	width: 0;
}

::-webkit-scrollbar-track:focus,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar:focus,
::-webkit-scrollbar:active {
	background-color: rgba(0, 0, 0, 0.2);
	width: .5em;
}

/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MEDIA QUERIES
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR SUPPORT
*------------------------------------------------------------------------------------------------⁡⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣------------------------------------------------------------------------------------------------
 *                                         ANCHOR VARIABLES
 *------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR OTHER FUNCTIONS
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MEDIA QUERIES
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣⁡⁢⁣⁣⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR SUPPORT
*------------------------------------------------------------------------------------------------⁡**/
/*========================================================================================================================*/
/**⁡⁢⁣⁣-----------------------------------------------------------------------------------------------*
*                                          ANCHOR MAIN STYLING
*------------------------------------------------------------------------------------------------⁡**/
header #nav .nav__item:nth-child(1) {
	border-bottom: 2px solid currentColor;
	transform: translateY(1px);
	opacity: 0.6;
}

body {
	height: fit-content;
}

body #main__grid {
	position: relative;
	height: fit-content;
	grid-template-rows: minmax(0.25fr, auto) repeat(3, minmax(1fr, auto));
	row-gap: 5vmax;
	width: 100%;
	grid-column: 1 /-1;
	margin-bottom: 2vw;
	align-items: stretch;
	/**======================
    *    ANCHOR TITLE HERO
    *========================**/
}

@media (max-width: 860px) {
	body #main__grid {
		grid-template-rows: minmax(0.25fr, auto) 1fr;
		grid-template-columns: 0 repeat(12, minmax(0, 75rem)) 0 !important;
		margin-bottom: 10vh;
		height: fit-content;
	}

	body #main__grid #contact__and__social {
		margin-left: 0;
		margin-right: 0;
	}
}

body #main__grid #title-hero__bg {
	width: 100vw;
	grid-row: 1;
	position: absolute;
	z-index: 0;
	isolation: isolate;
	margin-top: -47.5vw;
}

@media (max-width: 860px) {
	body #main__grid #title-hero__bg {
		margin-top: 0;
		top: -130vw;
		position: inherit;
		width: 150vw;
		margin-bottom: -50vw;
		transform: translateX(-50vw) scaleY(2);
	}
}

body #main__grid #title-hero {
	grid-row: 1;
	display: grid;
	grid-template-rows: minmax(0, 10vw) repeat(3, minmax(0, 4.5vw)) minmax(0, 20vw);
	grid-template-columns: 2vw auto 45vw;
	row-gap: 1vw;
	background-color: url("./index__hero--bg.svg");
	z-index: 1;
	height: fit-content;
}

@media (max-width: 860px) {
	body #main__grid #title-hero {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(0, 5vw) repeat(3, minmax(0, 10.5vw)) minmax(0, 2vw);
		text-align: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;
		grid-column: 1/-1;
	}
}

body #main__grid #title-hero * {
	color: #222030;
	font-weight: 600;
	grid-column: 2;
	justify-self: left;
}

@media (max-width: 860px) {
	body #main__grid #title-hero * {
		text-align: center;
		grid-column: 2/4 !important;
		text-align: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;
		align-content: center;
	}
}

body #main__grid #title-hero #title-hero__header {
	grid-row: 2;
	grid-column: 2;
	font-size: 6.5vw;
	align-self: center;
	font-weight: 1000;
	text-align: left;
}

@media (max-width: 860px) {
	body #main__grid #title-hero #title-hero__header {
		grid-column: 1/-1;
		border-radius: max(1rem, 1vw);
		background-color: #f6c6c8;
		text-align: center;
		justify-content: center;
		justify-self: center;
		justify-items: center;
		align-content: center;
		font-size: 10vw;
		padding: 1vw 5vw;
		max-width: 98vw;
		font-family: 'poppins-bold', poppins, Arial, Helvetica, sans-serif;
	}
}

body #main__grid #title-hero #title-hero__header--sub {
	grid-row: 3;
	grid-column: 2;
	font-size: 2.45vw;
	align-self: center;
	letter-spacing: 0.1vw;
}

@media (max-width: 860px) {
	body #main__grid #title-hero #title-hero__header--sub {
		text-align: center;
		justify-self: center;
		font-size: 4.25vw;
		font-family: Poppins, Arial, Helvetica, sans-serif;
	}
}

body #main__grid #title-hero #title-hero__cta {
	grid-row: 4;
	grid-column: 2;
	font-size: 2.35vw;
	font-weight: 200;
	align-self: center;
	padding: 1vw 4vw;
	width: fit-content;
	color: rgba(34, 32, 48, 0.7);
	background-color: #f6e4da;
	border-radius: 1vw;
	max-width: 80vw;
	font-family: 'Party Confetti', 'Poppins', Arial, Helvetica, sans-serif;
	letter-spacing: 0.2vw;
	transition: 450ms letter-spacing cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body #main__grid #title-hero #title-hero__cta:hover,
body #main__grid #title-hero #title-hero__cta:focus {
	letter-spacing: 0.4vw;
	background-color: #fbf3ef;
}

@media (max-width: 860px) {
	body #main__grid #title-hero #title-hero__cta {
		text-align: center;
		grid-column: 2/4;
		grid-row: 5;
		align-self: end;
		position: relative;
		margin: auto;
		margin-top: 32.5vw;
		z-index: 2;
		padding: 1vw 30vw;
		font-size: 6vw;
		color: #222030;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}
}

body #main__grid #title-hero #title-hero__img {
	position: relative;
	width: 100%;
	margin-top: 2vw;
	right: 0;
	left: auto;
	grid-row: 1;
	grid-column: 3;
}

@media (max-width: 860px) {
	body #main__grid #title-hero #title-hero__img {
		display: none;
	}
}

body #main__grid #title-hero #title-hero__img--mobile {
	position: relative;
	width: 80vw;
	top: 10vw;
	margin: auto;
	margin-top: 10vw;
	z-index: -1;
	display: none;
}

@media (max-width: 860px) {
	body #main__grid #title-hero #title-hero__img--mobile {
		display: block;
		grid-column: 1/-1;
		grid-row: 1;
	}
}

body #main__grid #title-hero * {
	position: static;
}

body #main__grid #contact__and__social {
	grid-row: 2;
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 4vw;
	position: relative;
	z-index: 0;
	margin-left: 2vw;
	margin-right: 2vw;
	height: 100%;
}

@media (max-width: 860px) {
	body #main__grid #contact__and__social {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1.5fr 2fr;
		height: fit-content;
		row-gap: 15vw;
	}
}

body #main__grid #contact__and__social #social-hero {
	grid-column: 1;
	display: grid;
	grid-template-rows: 4fr 1fr;
	row-gap: 4vw;
}

@media (max-width: 860px) {
	body #main__grid #contact__and__social #social-hero {
		grid-row: 1;
		grid-column: 1/-1;
		row-gap: 0;
	}
}

body #main__grid #contact__and__social #social-hero #social-hero__txt p:nth-child(1) {
	padding-bottom: 1vw;
	border-bottom: 2px solid rgba(34, 32, 48, 0.4) !important;
}

body #main__grid #contact__and__social #social-hero div {
	background-color: #f6e4da;
	background-image: linear-gradient(45deg, rgba(244, 185, 187, 0.4), #f6e4da);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	align-items: center;
	justify-items: center;
	padding: 4vw;
	color: rgba(34, 32, 48, 0.7);
	border-radius: 2vw;
}

@media (max-width: 860px) {
	body #main__grid #contact__and__social #social-hero div {
		color: #222030;
		background-color: rgba(0, 0, 0, 0);
		background-image: linear-gradient(135deg, #f4b9bb, #f6e4da);
		border-top-left-radius: 2vw !important;
		border-top-right-radius: 2vw !important;
		border-bottom-left-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}
}

body #main__grid #contact__and__social #social-hero div:nth-child(1) {
	grid-row: 1;
	font-size: 2.5vw;
	text-align: left;
}

body #main__grid #contact__and__social #social-hero div:nth-child(1) p {
	text-align: center;
}

body #main__grid #contact__and__social #social-hero div:nth-child(1) p:nth-child(2) {
	opacity: 0.6;
}

@media (max-width: 860px) {
	body #main__grid #contact__and__social #social-hero div:nth-child(1) p:nth-child(1) {
		font-size: max(1.75rem, 3vw);
		align-items: center;
	}

	body #main__grid #contact__and__social #social-hero div:nth-child(1) p:nth-child(2) {
		font-size: max(1.55rem, 2.5vw);
	}
}

@media (max-width: 580px) {
	body #main__grid #contact__and__social #social-hero div:nth-child(1) p:nth-child(1) {
		font-size: max(1.25rem, 2.25vw);
		align-items: center;
	}

	body #main__grid #contact__and__social #social-hero div:nth-child(1) p:nth-child(2) {
		font-size: max(1.05rem, 2vw);
	}
}

body #main__grid #contact__and__social a {
	grid-row: 2;
	display: flex;
	justify-content: space-between;
	font-size: max(2rem, 2.25vw);
	background-color: #f6e4da;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	align-items: center;
	justify-items: center;
	padding: 4vw;
	color: rgba(34, 32, 48, 0.7);
	border-radius: 2vw;
	background-image: linear-gradient(45deg, rgba(244, 185, 187, 0.75), #f6e4da);
}

@media (max-width: 860px) {
	body #main__grid #contact__and__social a {
		background: rgba(246, 228, 218, 0.95);
		background-image: linear-gradient(45deg, rgba(244, 185, 187, 0), rgba(246, 228, 218, 0));
		z-index: 3;
		border-top-left-radius: 0 !important;
		border-top-right-radius: 0 !important;
		border-bottom-left-radius: 2vw !important;
		border-bottom-right-radius: 2vw !important;
	}
}

@media (max-width: 580px) {
	body #main__grid #contact__and__social a {
		font-size: max(0.95rem, 2.05vw);
	}
}

body #main__grid #contact__and__social a:hover,
body #main__grid #contact__and__social a:focus {
	background-color: #fbf3ef;
}

body #main__grid #contact__and__social a img {
	height: max(2rem, 2.25vw);
	opacity: 0.6;
}

@media (max-width: 580px) {
	body #main__grid #contact__and__social a img {
		height: max(0.95rem, 2.05vw);
	}
}

body #main__grid #contact-hero {
	grid-column: 2;
	background-color: #f6e4da;
	background-image: linear-gradient(270deg, rgba(244, 185, 187, 0.5) 1%, #f6e4da);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	grid-template-rows: 4vw 1fr;
	padding: 4vw;
	border-radius: 2vw;
	align-items: center;
	row-gap: 2vw;
}

@media (max-width: 860px) {
	body #main__grid #contact-hero {
		grid-row: 2;
		grid-column: 1/-1;
	}
}

@media (max-width: 580px) {
	body #main__grid #contact-hero {
		height: fit-content;
	}
}

body #main__grid #contact-form__header {
	grid-row: 1;
	font-size: max(2.5rem, 4vw);
	font-weight: 1000;
	color: #222030;
}

@media (max-width: 860px) {
	body #main__grid #contact-form__header {
		margin-top: max(4rem, 6.5vw);
	}
}

@media (max-width: 580px) {
	body #main__grid #contact-form__header {
		font-size: max(1.45rem, 3vw);
	}
}

body #main__grid #contact-form {
	grid-row: 2;
}

@media (max-width: 860px) {
	body #main__grid #contact-form {
		margin-top: max(4rem, 6.5vw);
	}
}

body #main__grid #contact-form ::placeholder {
	color: #222030;
	opacity: 0.25;
	font-size: max(1rem, 1.25vw);
	align-self: center;
}

@media (max-width: 580px) {
	body #main__grid #contact-form ::placeholder {
		font-size: max(0.65rem, 0.85vw);
	}
}

body #main__grid #contact-form label {
	font-size: max(1rem, 1.25vw);
	color: rgba(34, 32, 48, 0.4);
	height: fit-content;
}

@media (max-width: 580px) {
	body #main__grid #contact-form label {
		font-size: max(0.65rem, 0.85vw);
	}
}

body #main__grid #contact-form input {
	padding: max(1rem, 1.5vw);
	align-items: center;
	margin-bottom: 2vw;
	height: fit-content;
	font-size: max(1rem, 1.25vw);
	background-color: rgba(244, 185, 187, 0.5);
	background-image: linear-gradient(90deg, rgba(244, 185, 187, 0) 1%, rgba(244, 185, 187, 0.75));
	border-radius: 1vw;
}

body #main__grid #contact-form input:focus {
	outline: none;
	border: 2px solid #222030;
}

@media (max-width: 580px) {
	body #main__grid #contact-form input {
		font-size: max(0.65rem, 0.85vw);
	}
}

body #main__grid #contact-form textarea {
	background-image: linear-gradient(90deg, rgba(244, 185, 187, 0) 1%, rgba(244, 185, 187, 0.75));
	font-size: max(1rem, 1.25vw);
	height: 10vmax;
	padding: 1.5vw;
	margin-bottom: 2vw;
	background-color: rgba(244, 185, 187, 0.5);
	border-radius: 1vw;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

body #main__grid #contact-form textarea:focus {
	outline: none;
	border: 2px solid #222030;
}

@media (max-width: 580px) {
	body #main__grid #contact-form textarea {
		font-size: max(0.65rem, 0.85vw);
	}
}

body #main__grid #contact-form button {
	margin-top: 2vw;
	padding: 1.5vw 10vw;
	background-color: rgba(244, 185, 187, 0.5);
	color: rgba(34, 32, 48, 0.5);
	border-radius: 1vw;
	font-size: max(2rem, 2.5vw);
	width: fit-content;
	transition: letter-spacing 450ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	font-family: 'Party Confetti', Poppins, Arial, Helvetica, sans-serif;
}

@media (max-width: 860px) {
	body #main__grid #contact-form button {
		color: rgba(34, 32, 48, 0.75);
	}
}

@media (max-width: 580px) {
	body #main__grid #contact-form button {
		font-size: max(0.85rem, 1vw);
	}
}

body #main__grid #contact-form button:hover,
body #main__grid #contact-form button:focus {
	cursor: pointer;
	background-color: rgba(244, 185, 187, 0.35);
	color: rgba(34, 32, 48, 0.75);
	letter-spacing: 1.15vw;
}

/*# sourceMappingURL=index.css.map */
