@import url(footer.css);
@import url(header.css);
@import url(nav-popups.css);

/* combines all nav style files */
@supports (backdrop-filter: blur()) {
	header {
		background-color: hsl(var(--color-black) / 0.0) !important;
		backdrop-filter: blur(0px);
	}

	header[data-bg="true"] {
		background-color: hsl(var(--color-black) / 0.05) !important;
		backdrop-filter: blur(40px);
	}

	footer {
		background-color: hsl(var(--color-black) / 0) !important;
		backdrop-filter: blur(80px);
	}

	#three-dot-menu {
		background-color: hsl(var(--color-white) / 0.2) !important;
		backdrop-filter: blur(40px);
	}

	#hamburger-menu {
		background-color: hsl(var(--color-teal) / 0.4) !important;
		backdrop-filter: blur(22px);
	}

	#contact-popup {
		backdrop-filter: blur(40px);
		background-color: hsl(var(--color-white) / 0.2) !important;
	}

	#about-popup {
		backdrop-filter: blur(40px);
		background-color: hsl(var(--color-white) / 0.2) !important;
	}

	#about-ctn-index[data-background="false"] {
		background-color: hsl(var(--color-black) / 0.0);
	}

	#sm-link-ctn[data-background="true"] {
		backdrop-filter: blur(20px);
	}

	#sm-link-ctn[data-background="false"] {
		backdrop-filter: blur(0);
	}
}
