header {
backdrop-filter:blur(6px);
background-image:linear-gradient(245deg,rgba(249,229,220,.4),rgba(249,229,220,.6));
border-radius:0;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
display:block;
margin:0;
padding:1rem 2rem 1rem 0
}

nav {
align-items:center;
display:flex;
justify-content:space-between
}

.nav-color {
color:#fff;
filter:contrast(0) brightness(.6) opacity(.7)
}

.nav-color:hover {
color:#fff;
filter:contrast(0) brightness(0.3) opacity(.8)
}

.paisley-logo-link-hdr {
font-family:'Poppins',Arial,Helvetica,sans-serif;
margin-left:2rem;
width:3rem
}

.navigation-ctn .nav-item {
display:inline-block;
margin-left:4rem;
position:relative
}

.shown-links {
margin-right:-10rem
}

.hamburger-menu {
display:flex;
width:.1rem
}

.three-dot-svg {
color:#7d7d7d
}

#three-dot-dropdown-container {
transform:translate(32.5%,-50%) scale(.1);
transition:transform .2s ease-out
}

#three-dot-dropdown-container.scale-dd-anim {
transform:translate(0,0) scale(1)
}

.three-dot-dropdown-container {
backdrop-filter:blur(12px);
background-color:rgba(249,229,220,.6);
border-radius:.5rem;
box-shadow:0 0 20px rgba(0,0,0,0.3);
height:fit-content;
margin:1rem;
margin-left:auto;
margin-right:1rem;
padding:0;
width:fit-content;
z-index:100
}

.three-dot-dropdown-container:hover {
background-color:rgba(249,229,220,.4);
transition:background-image 1s 1s
}

#three-dot-dropdown {
display:none;
justify-content:space-between;
text-align:left;
width:100%;
z-index:10
}

#three-dot-dropdown li {
padding:1rem 2rem
}

#three-dot-dropdown a {
color:currentColor;
text-decoration:none
}

#three-dot-dropdown .three-dot-item:hover {
background-color:rgba(0,0,0,.1);
color:#000;
transition:background-color .2s
}

.tdi-top {
border-radius:.5rem .5rem 0 0
}

.tdi-middle {
border-bottom:1px solid rgba(0,0,0,.4)
}

.tdi-bottom {
border-radius:0 0 .5rem .5rem
}

.s-m-logo-img {
margin-left:3rem;
margin-top:1rem;
position:sticky;
position:static;
width:1rem
}

.social-media-dd-ctn .s-m-p-ctn {
border-bottom:1px solid rgba(0,0,0,.2);
color:rgba(60,60,60,1.0);
font-family:'poppins-black',Arial,Helvetica,sans-serif;
margin:.5rem 0 .25rem;
padding-bottom:.5rem;
text-align:right
}

.social-media-dd-ctn {
border-bottom:1px solid rgba(0,0,0,.2);
border-top:1px solid rgba(0,0,0,.2);
padding:0 0 1rem;
transition:all .7s
}

.social-media-dd-ctn p {
margin-right:2rem
}

.three-dot-item {
text-align:right
}

.three-dot-item-s-m {
margin-left:2rem;
margin-right:2rem;
text-align:right
}

.three-dot-item-s-m:hover {
font-weight:500
}

.contact-btn {
border:1px solid rgba(0,0,0,.2);
border-radius:.5rem;
justify-content:right;
text-align:center;
width:50%
}

.contact-popup-info {
margin:auto 4rem auto 6rem;
padding:2rem 0 4rem
}

.contact-popup-info img {
filter:opacity(.6);
margin-bottom:-.35rem;
margin-right:2rem;
width:2rem
}

.contact-popup-info li {
align-items:center;
display:block;
padding:2rem 0
}

.ci-txt {
border-bottom:1px solid rgba(0,0,0,.2);
filter:opacity(.8);
font-size:2rem;
font-weight:200;
margin-right:3rem
}

.ci-txt-info {
filter:opacity(.3);
font-size:2rem
}

.ci-txt-info-sub {
filter:opacity(.3);
font-size:1rem;
line-break:strict
}

#about-popup-ctn {
backdrop-filter:blur(6px);
display:flex;
height:100vh;
margin:0;
overflow:hidden;
padding:5rem;
position:absolute;
top:0;
visibility:hidden;
width:100%
}

.about-popup-info {
display:flex
}

.about-popup-info .paisley-image {
margin:-8rem 0 2rem;
width:50%
}

.about-popup-info .about-card-ico {
filter:opacity(.6);
margin-bottom:-.35rem;
margin-right:2rem;
width:2.3rem
}

.about-popup-info li {
margin:2rem 8rem 0 -8rem
}

.ai-txt {
border-bottom:1px solid rgba(0,0,0,.1);
font-size:2rem;
font-weight:200;
margin-bottom:1rem
}

.ai-txt-info {
font-size:1.25rem;
max-height:50%;
overflow:scroll
}

.ai-txt-info p {
margin-bottom:2rem;
text-indent:4.2rem
}

.hamburger-three-dot-ctn {
display:flex;
justify-content:right;
margin:auto;
z-index:70
}

#hamburger-close-btn {
filter:contrast(0) brightness(.5);
width:2rem
}

#hamburger-close-btn:hover {
cursor:pointer;
filter:brightness(0)
}

#hamburger-menu-id {
backdrop-filter:blur(12px);
background-color:rgba(249,229,220,.7);
display:none;
height:100%;
padding:3rem;
position:fixed;
width:100%;
z-index:200;
z-index:2
}

.hamburger-item a {
color:currentColor
}

.hamburger-item {
border-bottom:1px solid rgba(0,0,0,.1);
color:rgba(0,0,0,.7);
margin-bottom:2vh;
padding:6vh 1vh 1vh
}

.hamburger-item:nth-child(2) {
border-top:2px solid rgba(0,0,0,.2)
}

.hamburger-item:hover {
background:rgba(0,0,0,.05);
border-radius:.5rem;
color:rgba(0,0,0,1)
}

.nav-mobile {
display:none
}

.hdr-block-ctn-div {
height:fit-content;
position:fixed;
width:100%
}

#footer {
backdrop-filter:blur(32px);
background-color:rgba(249,229,220,.1);
border-radius:0;
bottom:0;
box-shadow:0 -2px 10px rgba(0,0,0,0.1);
display:flex;
justify-content:space-between;
justify-self:baseline;
margin:0;
padding:1rem 0;
position:fixed;
transform:translateY(5.75vh);
width:100%
}

#footer.showFooter {
bottom:2.7rem
}

.footer-social-media-media-links {
margin-bottom:-.5rem;
margin-right:2rem
}

footer img {
bottom:-1rem;
filter:opacity(.5);
margin-left:1rem;
width:1.4rem
}

.footer-ul {
align-items:center;
display:flex;
margin-left:2rem
}

.footer-item {
filter:opacity(.5);
font-size:.75rem;
margin-right:10rem
}

.nav-item,.contact-popup-btn,.about-popup-btn,.services-popup-btn {
cursor:pointer
}

#three-dot-dropdown.activeThreeDotDropdown,#hamburger-menu-id.activeHamburger {
display:block
}

#contact-popup-ctn,#services-popup-ctn {
backdrop-filter:blur(6px);
display:flex;
height:100vh;
margin:0;
padding:5rem;
position:absolute;
top:0;
visibility:hidden;
width:100%
}

#contact-popup-ctn.activeContactPopup,#about-popup-ctn.activeAboutPopup,#services-popup-ctn.activeServicesPopup {
visibility:visible
}

#contact-popup,#about-popup,#services-popup {
backdrop-filter:blur(2px);
background-color:rgba(249,229,220,.7);
border-radius:1rem;
box-shadow:0 0 20px rgba(0,0,0,0.3);
width:100%
}

.contact-popup-close-btn,.about-popup-close-btn,.services-popup-close-btn {
align-self:right;
cursor:pointer;
filter:contrast(0) brightness(0) opacity(.2);
margin:1rem;
position:fixed;
width:3rem
}

.contact-popup-close-btn:hover,.about-popup-close-btn:hover,.services-popup-close-btn:hover {
filter:opacity(.3)
}

.contact-popup-hdr,.about-popup-hdr,.services-popup-hdr {
border-bottom:1px solid rgba(0,0,0,.2);
font:2.6rem 'poppins-light',Arial,Helvetica,sans-serif;
margin:.7rem 6rem
}

@media screen and (max-width: 1300px) {
.footer-item {
margin-right:8rem
}

@media screen and (max-width: 1150px) {
.footer-item {
margin-right:6rem
}
}

@media screen and (max-width: 1050px) {
.footer-item {
margin-right:3rem
}
}

@media screen and (max-width: 840px) {
footer img {
width:1rem
}

.footer-item {
font-size:.5rem
}
}

@media screen and (max-width: 680px) {
.footer-item {
font-size:.5rem;
margin-right:3vh
}
}

@media screen and (max-width: 580px) {
footer img {
width:.75rem
}

.footer-item {
font-size:.35rem;
margin-right:2vh
}
}

@media screen and (max-width: 420px) {
footer img {
width:.75rem
}

.footer-item {
margin-right:1vh
}
}

@media screen and (max-width: 380px) {
footer {
display:none
}
}
}

#footer-btn {
align-items:center;
bottom:.2rem;
justify-content:space-between;
left:50%;
margin:auto;
opacity:.5;
position:fixed;
right:50%;
width:2rem;
z-index:1
}

#footer-btn:hover {
cursor:pointer;
opacity:.7
}

#show-ftr-btn {
display:block
}

#hide-ftr-btn.clickedShowFooter {
display:block;
margin-bottom:2rem
}

#hide-ftr-btn,#show-ftr-btn.clickedShowFooter {
display:none
}

@media screen and (max-width: 1024px) {
.hamburger-menu {
bottom:-.05rem;
display:block;
margin-right:-4rem;
width:1rem
}

.hamburger-three-dot-ctn .hamburger-menu {
margin-right:-3rem;
top:.18rem
}

.three-dot-dropdown-container {
font-size:3vh;
margin-top:0;
width:100%
}

.contact-popup-info img {
width:1.5rem
}

.ci-txt-info {
font-size:1.25rem
}

.ci-txt {
font-size:1.5rem
}

.ci-txt-info-sub {
font-size:1rem
}

.shown-links,.in-list-dd {
display:none
}

@media screen and (max-width: 800px) {
.contact-popup-info img {
width:1.1rem
}

.ci-txt-info {
font-size:1rem
}

.ci-txt {
font-size:1.1rem
}

.ci-txt-info-sub {
font-size:.7rem
}

@media screen and (max-width: 610px) {
.contact-popup-hdr {
font-size:1.5rem
}
}
}

.paisley-image {
display:none
}

.ai-txt {
font-size:1.5rem
}

.about-popup-info {
margin-left:16rem
}

.ai-txt-info {
font-size:1rem;
margin:auto;
max-height:50%;
overflow:scroll
}

.ai-txt-info p {
margin-bottom:2rem;
text-indent:4.2rem
}

@media screen and (max-width: 555px) {
.about-popup-hdr {
font-size:1.5rem
}
}
}
